<div class="container-fluid footer">
  <div class="row">
    <div class="col-2"></div>
      <div class="col-4">
        <div class="column columna">
          <div class="text">
            ¿NECESITA AYUDA?
          </div>
          <div class="column columna">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11">0264 123 4567</div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11">enquiry@geekshubstravels.com</div>
            </div>
          </div>
          <div class="text" id="horario">
            Lun-Vier. 9:30-19:00 Sab:10:00-14:00
          </div>
        </div>
      </div>
    <div class="col-2">
      <div class="column columna">
        <div class="text">
          INFORMACIÓN
        </div>
        <div class="listafoo">
          <div>Quienes somos</div>
          <div>Preguntas frecuentes</div>
          <div>Política de privacidad</div>
          <div>Condiciones generales</div>
          <div>Aviso legal</div>
          <div>Contacto</div>
          <div>Programa de puntos</div>
        </div>
      </div>  
    </div>
    <div class="col-4">
      <div class="column columna">
        <div class="text">
          SUSCRÍBETE A LA NEWSLETTER
        </div>
        <form class="formulario">
          <div class="form-row">
            <div class="form-group cold-md-6">
              <input type="email" class="form-control" id="inputPass" placeholder="Correo electronico">
            </div>
          </div>
          <button type="submit" class="btn btn-warning">SUSCRÍBETE</button>
        </form>
      </div>
    </div>  
  </div>
  <div class="row abajo-foot">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center">Geekshubs Travels 2018 Todos los derechos reservados</div>
    <div class="col-2"></div>
  </div>
</div>