<div class="container-fluid footer">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="column columna">
        <div class="text">
          ¿NECESITA AYUDA?
        </div>
        <div class="column columna">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-11">0264 123 4567</div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-11">enquiry@geekshubstravels.com</div>
          </div>
        </div>
        <div class="text" id="time">
          Lun-Vier. 9:30-19:00 Sab:10:00-14:00
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="column columna d-none d-md-block">
        <div class="text">
          INFORMACIÓN
        </div>
        <div class="listafoo">
          <div>Quienes somos</div>
          <div>Preguntas frecuentes</div>
          <div>Política de privacidad</div>
          <div>Condiciones generales</div>
          <div>Aviso legal</div>
          <div>Contacto</div>
          <div>Programa de puntos</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="column columna">
        <div class="text">
          SUSCRÍBETE A LA NEWSLETTER
        </div>
        <form class="formulario">
          <div class="form-row">
            <div class="form-group cold-md-6">
              <input type="email" class="form-control" id="inputPass" placeholder="Correo electronico">
            </div>
          </div>
          <button type="submit" class="btn btn-warning">SUSCRÍBETE</button>
        </form>
      </div>
    </div>

  <!--iconos de redes sociales -->

  <div class="col-3 d-block d-md-none">
    <div class="row iconos-foot ">
      <div class="col-2">
        <img class="twitter" src="./images/tt-ico.png" alt=/>
      </div>
      <div class="col-2">
        <img class="what" src="./images/ws-ico.png" alt="whats" />
      </div>
      <div class="col-2">
        <img class="face" src="./images/face.png" alt="face" />
      </div>
      <div class="col-2">
        <img class="instagram" src="./images/insta.png" alt="instagram" />
      </div>
      <div class="col-2">
        <img class="linkedin" src="./images/lkdin.png" alt="linkedin" />
      </div>
      <div class="col-2">
        <img class="youtube" src="./images/you.png" alt="youtube" />
      </div>
    </div>
  </div>


  </div>



  <div class="row abajo-foot  d-none d-md-block">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center">Geekshubs Travels 2018 Todos los derechos reservados</div>
    <div class="col-2"></div>
  </div>




</div>