<div class="cuerpoLogin">
    <form method="POST">
        <div class="formulario">
            <input class="form-control" placeholder="Nombre del viaje" name="viaje" type="text" value="" required>
        </div>
        <div class="formulario">
            <input class="form-control" placeholder="Escribe una descripción" name="descripcion" type="text" required>
        </div>
        <div class="formulario">
            <input class="form-control" placeholder="Imagen" name="imagen" type="text" value="" required>
        </div>
        <div class="formulario">
            <input class="form-control" placeholder="Escribe el precio" name="precio" type="text" required>
        </div>
    </form>
    <div class="form-group-login">
        <div class="col-sm-9 col-sm-offset-4">
            <button type="submit" class="btn btn-primary btn-block">Crear</button>
        </div>
    </div>
</div>