<div class="container-fluid">
    <div class="row">
        <div class="col-12 img-login">
            <div class="offset-3 col-6">
                <div class="cuadrado"></div>
                    <div class="row">
                        <div class="offset-2 col-7">
                            <h3 class="tituloRegistro">LOGIN</h3>
                        </div>
                    </div>    
                    <div class="cuerpoLogin">
                        <form>
                            <div class="formulario">
                                <input class="form-control" placeholder="Usuario o E-mail" name="usuario o E-mail" type="text">
                            </div>
                            <div class="formulario">
                                <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                            </div>
                        </form>
                    </div>
                    
                    <div class="form-group-login">
                        <div class="col-sm-9 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="forgot-password">
                            ¿No recuerdas tu contraseña?
                        </a>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>