<div class="container-fluid">
    <div class="row">
        <div class="col-12 ima-registro">
            <div class="offset-3 col-6">
                <div class="cuadrado"></div>
                <div class="row">
                    <div class="offset-3 col-7">
                        <h3 class="tituloRegistro">REGISTRO</h3>
                    </div>
                    <div class="offset-4 col-5">
                        <h5 class="preguntaRegistro">¿Ya estás registrado?</h5>
                    </div>
                </div>
                <div class="cuerpoRegistro">
                    <form method="POST">
                        <div class="formulario">
                            <input class="form-control" placeholder="Usuario" name="usua" type="text" required>
                        </div>
                        <div class="formulario">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" required>
                        </div>
                        <div class="formulario">
                            <input class="form-control" placeholder="Contraseña" name="passw" type="password" value="" required>
                        </div>
                        <div class="formulario">
                            <input class="form-control" placeholder="Confirmar contraseña" name="passw2" type="password" value="" required>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" required >Acepto los términos y condiciones, así como la
                                        <a href="#">politica de privacidad</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
</div>