body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*La parte del header*/

h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

h2 {
  color: black;
}

.image {
  background: url("/images/nathan-anderson-316188-unsplash.jpg") no-repeat center top;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

.puente {
  margin-top: 20px;
  height: 60px;
}

.nav {
  justify-content: center;
  font-size: 26px;
  margin-top: 40px;
}

nav a {
  color: white;
}

nav a:hover {
  color: pink;
}

.iconos {
  margin-top: 30px;
}

.twitter {
  height: 40px;
}

.what {
  height: 40px;
}

.face {
  height: 40px;
}

.instagram {
  height: 50px;
}

.linkedin {
  height: 40px;
}

.youtube {
  height: 40px;
}

.Destinos{
  padding: 50px;
}

/*Barra de opciones*/
.navbar{
  width: 600px;
  height: 100px;
}
.puente2 {
  height: 20px;
}
.imagen-barra{
  color:white;
}

/*La parte de las fotos*/
.card-deck{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.card{
  border: none;
}

.card-img-overlay{
  padding: 0px!important;
}


#textIdBlue{
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: darkblue;
  min-height: 70px;
  text-align: center;
  font-size: 18px;
}

.textBlue{
  margin: 20px;
}

#textIdYellow{
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: yellow;
  min-height: 50px;
  text-align: center;
  font-size: 18px;
}

.textYellow{
  margin: 30px;
  color: darkblue;
}


/*La parte de quienes somos*/

.Quien {
  background: url("/images/travel_1.jpg") no-repeat center top;
  background-position: center center;
  min-height: 700px;
}

.card {
  margin-top: 30px;
}
.tituloquien{
  color: #0A0A2A;  
}

.textoquien {
  color: #0A0A2A;
}

/*Mapa y formulario*/

.mapaGoogle {
  margin-top: 30px;
}

.please {
  margin-bottom: 30px;
}

.btn {
  margin-bottom: 20px;
}

.txtdes {
  margin-top: 30px;
}

/*carousel*/

#textIdBlueCa{
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: darkblue;
  min-height: 80px;
  min-width: 600px;
  text-align: center;
  font-size: 18px;
}

.textBlueCa{
  margin: 20px;
}

#textIdYellowCa{
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: yellow;
  min-height: 100px;
  min-width: 250px;
  text-align: center;
  font-size: 18px;
}

.textYellowCa{
  margin: 30px;
  color: darkblue;
}

/*la parte del footer*/

.footer {
  background-color: #0A0A2A;
}

.text {
  color: white;
  margin-top: 20px;
}

.columna {
  color: white;
  margin-top: 20px;
}

.listafoo {
  margin-top: 20px;
}

.form-control {
  margin-top: 20px;
}

.abajo-foot {
  color: white;
  margin-top: 50px;
}

/*Registro*/

.ima-registro{
  background: url("/images/travel_3.jpg") no-repeat center top;
  background-position:center center;
  text-align: center;
  min-height: 400px;
  width:100%;
  background-size:cover;
}
.cuadrado{
  background-color: rgba(200,200,250, 0.5);
  margin-top: 25px;
}
.checkbox{
  margin-top: 25px;
  margin-left: 50px;
}
.btn{
  margin-left: 30px;
}

/*Login*/

.img-login{
  background: url("/images/travel_2.jpg") no-repeat center top;
  background-position:center center;
  text-align: center;
  min-height: 400px;
  width:100%;
  background-size:cover;
}
.form-group-login{
  margin-top:35px;
  margin-left: 50px;
}
.forgot-password{
  color:white;
}